@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Open Sans', sans-serif;
}

h2{
	font-family: 'Roboto', sans-serif;
	padding:0px;margin:0px;
	color:#ccc;
}


    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
			ul.navigation li {
		display:inline;
	} 
	.budgethack_titlename{
		margin-top:10px;
	}
	.budgethack_tagline{
		display:none;
	}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
	ul.navigation li {
		display:block;
	} 
	.budgethack_titlename{
		margin-top:50px;
	}
	.budgethack_tagline{
		display:block;
	}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }