@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Open Sans', sans-serif;
}

h2, h3, h4{
	font-family: 'Roboto', sans-serif;
	padding:0px;margin:0px;
}

p a {
	background:#BA6FE4;
	padding:2px;
	color:#FFFFFF;
}
p a:hover {
	background:#9D34DA;
	color:#FFFFFF;
	text-decoration:none;
	cursor:pointer;cursor:hand;
}

ul.navigation{
	float:right;
	padding:0px;margin:0px
}
ul.navigation li {
	display:inline;
	padding:0px;margin:0px;
	list-style-type:none;
} 
.budgethack_titlename{
	margin-top:10px;
	margin-bottom:10px;
	float:left;
	color:#ccc;
}
.budgethack_tagline{
	display:none;
	padding-bottom:20px;
	border-bottom:1px solid #ccc;
	margin-bottom:20px;
}
.maincontent{
	background:#F7F7F7;
	padding:0px;margin:0px;
}
.budgethack_section_header{
	margin-top:75px;
		margin-bottom:25px;
		float:none;
		display:block;
		color:#3B3B3B;
}
.budgethack_section_header2{
		margin-top:25px;
		text-align:center;
		padding-bottom:25px;
		margin-bottom:25px;
		float:none;
		width:100%;
		display:block;
		color:#3B3B3B;
}
.numberstyle{
		background-color:#3B3B3B;
		padding:5px;
		padding:left:10px;padding-right:10px;
		color:#ffffff;
		margin-right:10px;
}
.budgethack_rowfix{
padding:0px;margin:0px;width:100%;
}
.footer{
	margin-top:80px;
	padding-top:20px;
	margin-bottom:25px;
	color:#ccc;
	border-top:1px solid #ccc;
}
.jobtitle{
	font-style:italic;
}
.thepeople{
	margin-top:75px;
}
.thepeople_title{
	margin-bottom:10px;
}
.thepeople_smallfix{
	margin-bottom:25px;
}
.datatspacer{
	height:50px;
	margin-top:50px;
	border-top:1px solid #ccc;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}
.localgovchart{
	width:100%;
	background-size: contain;
}
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
	ul.navigation{
		float:none;
	}
	ul.navigation li {
		display:block;
		margin-bottom:10px;
	} 
	.budgethack_titlename{
		margin-top:50px;
		margin-bottom:25px;
		float:none;
		display:block;
	}
	.budgethack_tagline{
		display:block;
	}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
.thepeople_smallfix{
	margin-bottom:0px;
}
    }